name: Build FFmpeg Mac OS VVCEasy Build (x86_64/amd64)
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v4
    - name: Uname...
      run: uname -a
    - name: Install Package
      run: brew install libxml2 opus sdl2 ffmpeg fdk-aac nasm --overwrite
    - name: Git clone vvenc, vvdec and finally FFmpeg
      run: git clone --depth=1 https://github.com/fraunhoferhhi/vvenc && git clone --depth=1 https://github.com/fraunhoferhhi/vvdec && git clone --depth=1 https://github.com/MartinEesmaa/FFmpeg-VVC
    - name: Build vvenc
      run: |
        export MACOSX_DEPLOYMENT_TARGET=10.13
        cd vvenc && mkdir build && cd build
        cmake .. -G "Xcode" -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13
        cmake --build . --config Release
        sudo cmake --build . --config Release --target install
        cd ../../
    - name: Build vvdec
      run: |
        export MACOSX_DEPLOYMENT_TARGET=10.13
        cd vvdec && mkdir build && cd build
        cmake .. -G "Xcode" -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13
        cmake --build . --config Release
        sudo cmake --build . --config Release --target install
        cd ../../
    - name: Run to compile ffmpeg
      run: |
        export MACOSX_DEPLOYMENT_TARGET=10.13
        export CFLAGS="-mmacosx-version-min=10.13"
        export LDFLAGS="-mmacosx-version-min=10.13"
        cd FFmpeg-VVC
        chmod +x configure
        ./configure --enable-gpl --enable-version3 --enable-nonfree --enable-static --enable-libvvenc --enable-libvvdec --enable-libxml2 --enable-libdav1d --enable-libopus --enable-libfdk-aac --enable-pic --enable-sdl2 --pkg-config-flags=--static --extra-version=VVCEasy
        make -j4
        cd ..
    - name: Rename ffmpeg, ffplay, ffprobe with _vvceasy suffix
      run: |
        mv ./FFmpeg-VVC/ffmpeg ./FFmpeg-VVC/ffmpeg_vvceasy
        mv ./FFmpeg-VVC/ffplay ./FFmpeg-VVC/ffplay_vvceasy
        mv ./FFmpeg-VVC/ffprobe ./FFmpeg-VVC/ffprobe_vvceasy
    - name: Zip all binaries into one file
      run: |
        cd FFmpeg-VVC
        zip -9 -j ffmpeg_vvceasy_macos.zip ffmpeg_vvceasy ffplay_vvceasy ffprobe_vvceasy
        cd ..
    - name: Upload zipped artifact
      uses: actions/upload-artifact@v4.0.0
      with:
        name: ffmpeg_vvceasy_macos
        path: ./FFmpeg-VVC/ffmpeg_vvceasy_macos.zip
